version: '3.9'
services:
  mongo:
    image: mongo:7
    restart: always
    volumes:
      - mongo_data:/data/db

  server:
    build:
      context: .
      dockerfile: apps/server/Dockerfile
    env_file:
      - .env
    depends_on:
      - mongo
    ports:
      - '4000:4000'

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    env_file:
      - .env
    depends_on:
      - server

  nginx:
    image: nginx:1.27-alpine
    volumes:
      - ./infra/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web
      - server
    ports:
      - '80:80'

volumes:
  mongo_data:
